
@if(isShowSuccess)
  {
    <div class="alert alert-success" role="alert">
      Create Success! Go to <a routerLink="" class="alert-link">Home</a> too see questions.
      <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  }
  <button type="button" routerLink="" class="btn btn-light">Home</button>
  <button type="button" (click)="handleClickSaveAnswer()" class="btn btn-primary">Save Answer</button>
  <h5 class="mt-3">{{dataNew.questionTitleContent}}</h5>
  <hr class="text-primary w-50">
  @for (item of dataNew.questions; track $index) 
  {
    <div class="mb-3">
      <label class="form-label fw-bold">@if(item.isRequired){<span style="color: #dc3545;">*</span>} {{item.questionContent}}</label>
    </div>
    @if(item.answerTypeCode.trim() == 'ReplyText')
    {
      <div class="mb-3">
        <!-- <label class="form-label">Answer:</label> -->
        <textarea class="form-control" [(ngModel)]="item.answerContent" rows="3"></textarea>
      </div>
    }
    @else if (item.answerTypeCode.trim() == 'ChooseAS') 
    {
      @for (itemOption of item.answerOptionDTOs; track $index)
      {
        <div class="form-check">
          <input class="form-check-input" (change)="handleChangeOptionAnswerContent($event, item, itemOption)" [checked]="handleCheckedOptionAnswer(item, itemOption)" type="checkbox" value="" id="optionAnswerContent">
          <label class="form-check-label" for="optionAnswerContent">
            {{itemOption.optionAnswerContent}}
          </label>
        </div>
      }
    }
    <hr class="text-primary">
  }

  


