<div class="d-grid gap-2 col-6 mx-auto">
    <a routerLink="/form/builder" class="btn btn-primary" >Add Question</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"  style="text-align: center;">#</th>
      <th scope="col">List Questions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of data.QuestionTitles; track $index) {
      <tr>
        <th scope="row" style="width: 110px;text-align: center;">
          <button type="button" routerLink="/form/ansers" [queryParams]="{questionTitleId: item.questionTitleId}" class="btn btn-success btn-sm">Reply</button>
        </th>
        <td>{{item.questionTitleContent}}</td>
      </tr>
    }
    @empty {
            
    }
  </tbody>
</table>